// Default colours
$color-key: #6C3F62;
$color-hilite: #7F8B89;

$color-darkest: #000000;
$color-dark: #2B2C2C;
$color-shadow: #DDDDDD;
$color-tone-lite: #EFEFEF;
$color-litest: #FFFFFF;
$color-link: #9E2A3F;

// Theme colours
$theme-core: #30617C;
$theme-key: #50A2CE;
$theme-hilite: #727D7B;
$theme-lines: #CDE0FF;

@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
   -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin linear-gradient($args...) {
  background-image: -moz-linear-gradient($args);
  background-image: -o-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin transition($args...) {
  -moz-transition: $args;
  -o-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

//Flexbox

@mixin flex-display() {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-items($arg: stretch) {
  @if $arg == flex-start {
    -ms-flex-align: start;
    -webkit-box-align: start;
  } @else if $arg == flex-end {
    -ms-flex-align: end;
    -webkit-box-align: end;
  } @else {
    -ms-flex-align: $arg;
    -webkit-box-align: $arg;
  }
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex-direction($arg: row) {
  -ms-flex-direction: $arg;
  @if $arg == row {
    -webkit-box-orient: horizontal;
  } @else if $arg == column {
    -webkit-box-orient: vertical;
  }
  -webkit-flex-direction: $arg;
  flex-direction: $arg;
}


@mixin flex-justify-content($arg: flex-start) {
  @if $arg == flex-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
  } @else if $arg == flex-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
  } @else if $arg == space-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  } @else {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
  }
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex-order($arg: 0) {
  -ms-flex-order: $arg;
  -webkit-box-flex-group: $arg;
  -webkit-order: $arg;
  order: $arg;
}

@mixin flex($grow: 0,$shrink: 1,$basis: auto) {
  -ms-flex: $grow $shrink $basis;
  -webkit-box-flex: $grow;
  -webkit-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}