$color-core: #30617c;
$color-key: #50a2ce;
$color-hilite: #727d7b;
$color-dark: #2b2c2c;

@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
   -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin linear-gradient($args...) {
  background-image: -moz-linear-gradient($args);
  background-image: -o-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin transition($args...) {
  -moz-transition: $args;
  -o-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

//Flexbox

@mixin flex-display() {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-items($arg: stretch) {
  @if $arg == flex-start {
    -ms-flex-align: start;
    -webkit-box-align: start;
  } @else if $arg == flex-end {
    -ms-flex-align: end;
    -webkit-box-align: end;
  } @else {
    -ms-flex-align: $arg;
    -webkit-box-align: $arg;
  }
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex-justify-content($arg: flex-start) {
  @if $arg == flex-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
  } @else if $arg == flex-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
  } @else if $arg == space-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  } @else {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
  }
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex-order($arg: 0) {
  -ms-flex-order: $arg;
  -webkit-box-flex-group: $arg;
  -webkit-order: $arg;
  order: $arg;
}

@mixin flex($grow: 0,$shrink: 1,$basis: auto) {
  -ms-flex: $grow $shrink $basis;
  -webkit-box-flex: $grow;
  -webkit-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}