$color-core: #30617c;
$color-key: #50a2ce;
$color-hilite: #727d7b;
$color-dark: #2b2c2c;

@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
   -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin linear-gradient($args...) {
  background-image: -moz-linear-gradient($args);
  background-image: -o-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin transition($args...) {
  -moz-transition: $args;
  -o-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

//Flexbox

@mixin flex-display() {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-items($arg:stretch) {
  -ms-flex-align: $arg;
  -webkit-box-align: $arg;
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex-justify-content($arg:flex-start) {
  -ms-flex-align: $arg;
  -webkit-box-align: $arg;
  -webkit-align-items: $arg;
  align-items: $arg;
}

@mixin flex($arg:0) {
  -ms-flex: $arg;
  -webkit-box-flex: $arg;
  -webkit-flex: $arg;
  flex: $arg;
}